@import "variables.less";

html,body {
	margin: @margin-body;
	height: @height-body;
	height: 100%;
}

.wrap {
	display: flex;
 	flex-direction: column;
	height: 100%;
}

.main {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

.navbar {
	height: @height-nav;
	background-color: @color-black;
	display: flex;
	flex-direction: row;
	align-items: @layout-center;
}

.navbar_img-logo {
	padding-top: @padding-nav-img;
	padding-left: @padding-nav-img;
	padding-right: @padding-nav-img;
}

.img-logo {
	width: @height-img-logo;
	height: @width-img-logo;
}

ul {
	list-style-type: none;
	margin: @margin-body;
	padding: @padding-body;
	overflow: hidden;
	background-color: @color-black;
}

li {
	float: @layout-left;
}

li a {
	display: block;
	color: @color-white;
	text-align: center;
	padding: @padding__ToDoList;
	text-decoration: none;
}

li a:hover {
	background-color: @color-black;
}

.active {
	background-color: @color-active;
}

footer {
	height: @height-nav; 
	background-color: @color-black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: @layout-center;
}

.page-footer__paragraf {
	width: 150px;
	text-align: left;
	margin-right: 10px;
	color: @color-white;
}	

.footer {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}

///////////////////////////////////////
//////// LOGIN //////////////////////
//////////////////////////////////////

.content-main-login {
		width: @width-form;
    padding: @padding-body;
    margin: auto;
}

.content-form_center {
	width: @width-form;
	height: @height-form;
}

.div-authorization {
	font-style: @font-italic;
}

.div-authorization-input {
	display: flex;
	flex-direction: row;
	height: @line-height__form;
	align-items: @layout-center;
	justify-content: @layout-center;
}

///////////////////////////////////////
//////// INDEX //////////////////////
//////////////////////////////////////






///////////////////////////////////////
//////// REGISTRARION ////////////////
//////////////////////////////////////