@import "variables.less";
@import "mixin.less";

html,body {
	margin: @margin-body;
	height: @height-body;
	height: 100%;
}

.wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}

.navbar {
	height: @height-nav;
	background-color: @color-black;
	display: flex;
	flex-direction: row;
	align-items: @layout-center;
}

.navbar_img-logo {
	padding-top: @padding-nav-img;
	padding-left: @padding-nav-img;
	padding-right: @padding-nav-img;
}

.img-logo {
	width: @height-img-logo;
	height: @width-img-logo;
}

ul {
	list-style-type: none;
	margin: @margin-body;
	padding: @padding-body;
	overflow: hidden;
	background-color: @color-black;
}

li {
	float: @layout-left;
}

li a {
	display: block;
	color: @color-white;
	text-align: center;
	padding: @padding__ToDoList;
	text-decoration: none;
}

li a:hover {
	background-color: @color-black;
}

.active {
	background-color: @color-active;
}

.active_log {
	text-decoration: none;
	color: @color-auth-index;
}

.active_reg {
	text-decoration: none;
	color: @color-auth-task-main;
}

.div-login {
	width: @width-div-login;
	min-width: @widt-min-div-login;
	margin-left: auto;
	height: @height-body;
	display: flex;
	flex-direction: row;
	align-items: center;
	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}

.div-login a:hover {
	color: @color-button-sign-in;
}

.div-login-sign {
	width: @widt-div-login-sign;
	height: @height-div-login;
}

.div-login-sign:hover {
	background-color: @color-auth-reg_hover;
}

.div-login-reg {
	width: @widt-div-login-reg;
	height: @height-div-login;
}

.div-login-reg:hover {
	background-color: @color-auth-reg_hover;
}

footer {
	height: @height-nav; 
	background-color: @color-black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: @layout-center;
}

.page-footer__paragraf {
	width: @widt-min-div-login;
	text-align: left;
	margin-right: @margin-p_text;
	color: @color-white;
}	

.footer {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}

///////////////////////////////////////
//////// LOGIN //////////////////////
//////////////////////////////////////

.contant-main {
	min-height: calc(100vh - 80px);
}

.main_color {
	background-color: @color-main;
}

.content-main-login {
	width: @width-form;
	margin: auto;
}

.content-form_center {
	width: @width-form;
	height: @height-form;
	background-color: @color-form;
}

fieldset {
	border-radius: @radius;
	border-color: @color-border-radius;
	background-color: @color-form;
}

.div-authorization {
	.font-login(@color-auth, @font-tahoma, @font-size-tahoma,
		@font-weight-tahoma);
}

.div-authorization-input {
	display: flex;
	flex-direction: row;
	height: @line-height__form;
	align-items: @layout-center;
	justify-content: @layout-center;
}

.content-input_size {
	width: @width-input;
	height: @height-input;
}

.input-border_style {
	padding: @padding-input-login;
	display: block;
	border: none;
	border-bottom: @border-w-login solid @color-authorization;
	width: @width-input;
}

.div-lable-user-name{
	height: @height-input;
	line-height: @line-height__in-form;
}

.div-lable {
	height: @height-input;
	width: 100%;
	line-height: @line-height__in-form;
	display: flex;
	flex-direction: row;
	label{
		display: block;
		width: 50%;
	}
	a{
		display: block;
		width: 50%;
		font-size: 12px;
		text-decoration: none;
		text-align: right;
		color: @color-forgot-password;
	}
}

.button-size {
	width: @width-input;
	height: @height-button; 
}

.buutton-color {
	background-color: @color-button-sign-in;
	color: @color-form;
	cursor: pointer;
}
.button-border_style {
	border-radius: @radius-input;
	border-width: @border-w-login;
	border-color: @color-button-sign-in;
}

.auth-label {
	width: @widt-login-lable;
	text-align: @layout-center;
	.font-login(@color-vanila, @font-verdana, @font-size-verdana, 
		@font-weight-verdana);
}

.divErr {
	height: @height-div-error;
	width: @widt-div-error;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

///////////////////////////////////////
//////// INDEX //////////////////////
////////////////////////////////////

.content-task{
	min-height: calc(~"100vh - 120px");
	display: flex;
	flex-direction: column;
	align-items: center;
}

.task-ul{
	margin: 20px;
	background-color: @color-white;
	li {
		float:none;
		margin:10px;
		font-size: 18px;
	}
	

	li:hover {
		background: green;
		color: white;
	}

	li.checked {
		background: gray;
		color: white;
		text-decoration: line-through;
	}
	
	.close {
		margin: 10px;
	}

	.close:hover {
		background-color: gray;
		color: white;
	}
}

.content-task-main {
	width: 30%;
	min-width: 240px;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: @color-auth-task-main;
	border-radius: 20%;
}

.content-task-input {
	width: 450px;
	display: flex;
	flex-direction: column; 
	align-items: center;
	input {
		width: 95%;
		height: 25px;
		border-top: none; 
		border-right: none;
		border-left: none;
		border-bottom: none; 
	}
}

.content-task-button {
	width: 150px;
	display: flex;
	flex-direction: column; 
	align-items: center;
	.addBtn {
		width: 88%;
		height: 28px;
		background: @color-button-sign-in;
		color: white;
		float: right;
		text-align: center;
		font-size: 16px;
	}
}

.content-task-title {
	.font-login(@color-vanila, @font-verdana, @font-size-verdana, 
		@font-weight-verdana);
}

///////////////////////////////////////
//////// REGISTRARION ////////////////
//////////////////////////////////////

.content-form-registration {
	width: @width-form-registration;
	height: @height-form;
	background-color: @color-main;
}

.elem {
	display: flex;
	flex-direction: row;
	height: @height-elem-registration;
	align-items: center;
	justify-content: flex-start;
	height: @height-input;
	line-height: @line-height__in-form;
}

.lbl__elem {
	width: @width-elem-registration;

}


.registration-fieldset {
	border-radius: 13px;
	border: 4px groove;
}

.registration-text {
	font-family: Verdana;
	font-style: italic;
}

.registration-tooltip {
	border-bottom: 1px dotted #0077AA;
	cursor: help;
}

.registration-tooltip::after {
	background: black;
	border-radius: 8px 8px 8px 0px;
	box-shadow: 1px 1px 10px grey;
	color: white;
	content: attr(data-tooltip); /* содержимое всплывающей подсказки */
	margin-top: -24px;
	opacity: 0; /* элемент прозрачен... */
	padding: 3px 7px;
	position: absolute;
	visibility: hidden; /*элемент скрыт */ 

}

.registration-tooltip:hover::after {
	opacity: 1; /* показать элемент */
	visibility: visible;
}

.registration-img {
	height: @height-img-registration;
	padding-left: @padding-img-registration;
	display: none;
	visibility: false;
}

.lbl__elem {
	width: @width-elem-registration;
	height: @height-input;
	line-height: @line-height__in-form;
	.font-login(@color-auth, @font-tahoma, @font-size-tahoma,
		@font-weight-tahoma);
}

.registration-error {
	color: #FFFFFFFF;
	border-radius: 10px;
	background-color: #FF6570FF;
	text-align: center;
	// width:~"calc(@{width-form-registration} + @{height-img-registration} + @{padding-img-registration})";
	width: @width-form-registration;
}

.button-color1 {
	background-color: lighten(@color-button-sign-in, 40%);
	color: darken(@color-form, 50%);
}
