///////////////////////////////////////
//////// HEIGHT //////////////////////
//////////////////////////////////////
@height-body: 100%; 
@height-header: 50%;
@height-nav: 60px;
@height-img-logo: 45px;
@height-form: 250px;
@height-input: 25px;
@height-button: 30px;
@line-height__form: 50px;
@line-height__in-form: 25px;
@height-elem-registration: 40px;
@height-task-inpit: 25px;
///////////////////////////////////////
//////// WIDTH //////////////////////
//////////////////////////////////////
@width-img-logo: 45px; 
@width-form: 15%;
@width-input: 100%;
@width-elem-registration: 130px;
@width-form: 300px;
@width-input: 100%; 
@width-ra: 190px; 
@width-task: 30%;
@width-task-inpit: 450px;
///////////////////////////////////////
//////// MARGIN //////////////////////
//////////////////////////////////////
@margin-body: 0px;
@margin-login: 5em;
@margin-login_text: 0.5em;
///////////////////////////////////////
//////// PADDING //////////////////////
//////////////////////////////////////
@padding-body: 0;
@padding-nav-img: 0.3rem;
@padding__ToDoList: 14px;
@padding-input-login: 5px;
///////////////////////////////////////
//////// COLOR //////////////////////
//////////////////////////////////////
@color-black: rgb(0,0,0);
@color-white: rgb(255, 255, 255);
@color-active: rgb(37, 117, 213);
@color-border-radius: rgb(116, 139, 115);
@color-main: rgb(234, 234, 234);
@color-form: rgb(255, 255, 255);
@color-button-sign-in: rgb(102, 233, 21);
@color-authorization: rgb(204, 204, 204);
@color-vanila: rgb(109, 36, 218);
@color-auth: rgb(76, 165, 178);
@color-auth-reg: rgb(87, 74, 180);
@color-auth-task-main: rgb(182, 201, 241);
///////////////////////////////////////
//////// LAYOUT //////////////////////
//////////////////////////////////////
@layout-center: center;
@layout-left: left;
///////////////////////////////////////
//////// BORDER //////////////////////
//////////////////////////////////////
@border-w-login: 1px;
///////////////////////////////////////
//////// BORDER RADIUS //////////////////////
//////////////////////////////////////
@radius: 20px;
@radius-input: 5px;
///////////////////////////////////////
//////// FONT-STYLE //////////////////////
//////////////////////////////////////
@font-italic: italic;
@font-oblique: oblique;
@font-verdana: verdana;
@font-tahoma: tahoma;
///////////////////////////////////////
//////// FONT-SIZE //////////////////////
//////////////////////////////////////
@font-size-verdana: 30px;
@font-size-tahoma: 15px;
///////////////////////////////////////
//////// FONT-WEIGHT//////////////////////
//////////////////////////////////////
@font-weight-verdana: lighter;
@font-weight-tahoma: bolder;