///////////////////////////////////////
//////// HEIGHT //////////////////////
//////////////////////////////////////
@height-body: 100%; 
@height-header: 50%;
@height-nav: 60px;
@height-img-logo: 45px;
@height-form: 250px;
///////////////////////////////////////
//////// WIDTH //////////////////////
//////////////////////////////////////
@width-img-logo: 45px; 
@width-form_center: 25%; 
///////////////////////////////////////
//////// MARGIN //////////////////////
//////////////////////////////////////
@margin-body: 0px;
///////////////////////////////////////
//////// PADDING //////////////////////
//////////////////////////////////////
@padding-body: 0;
@padding-nav-img: 0.3rem;
@padding__ToDoList: 14px;
///////////////////////////////////////
//////// COLOR //////////////////////
//////////////////////////////////////
@color-black: rgb(0,0,0);
@color-white: rgb(255, 255, 255);
@color-active: rgb(37, 117, 213);
@color-active: rgb(37, 117, 213);
@color-border-radius: rgb(116, 139, 115);
///////////////////////////////////////
//////// LAYOUT //////////////////////
//////////////////////////////////////
@layout-center: center;
@layout-left: left;

